.Background_image {
  background-image: url(".././assets/background.png");
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.Fresh {
  font-family: "Piazzolla", serif;
  font-weight: bold;
  color: #fff;
}

.Talent {
  font-family: "Piazzolla", serif;
  font-weight: bold;
  color: #fff;
}

.Top {
  font-family: "Piazzolla", serif;
  font-weight: bold;
  color: #fff;
}

.Employers {
  font-family: "Piazzolla", serif;
  font-weight: bold;
  color: #fff;
}

.Create {
  font-family: "Lobster", cursive;
  word-spacing: 5px;
  font-size: 25px;
  color: #fff;
}
