.Background_image {
  background-image: url(".././assets/background.png");
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.Fresh {
  font-family: "Piazzolla", serif;
  font-weight: bold;
  color: #fff;
}

.Talent {
  font-family: "Piazzolla", serif;
  font-weight: bold;
  color: #fff;
}

.Top {
  font-family: "Piazzolla", serif;
  font-weight: bold;
  color: #fff;
}

.Employers {
  font-family: "Piazzolla", serif;
  font-weight: bold;
  color: #fff;
}

.Create {
  font-family: "Lobster", cursive;
  word-spacing: 5px;
  font-size: 25px;
  color: #fff;
}

.Links_one {
  color: #fff;
}

.Links_one:hover {
  text-decoration: none;
  background-color: #fff;
  border-radius: 5px;
  color: gray;
}

.Gold_background {
  background-color: gold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.Logo_box {
  text-align: center;
}

.Logo_image {
  background-color: #fff;
  padding: 10px;
  border-radius: 100px;
}

.Logo_description {
  font-size: 10px;
}

.About_section {
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.About {
  font-family: "Zilla Slab", serif;
  font-weight: bold;
}

.People {
  font-family: "Zilla Slab", serif;
  font-weight: bold;
}

.Profile_box {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.Profile_image {
  width: 140px;
  height: 140px;
}

.Name_title {
  font-family: "Zilla Slab", serif;
  font-weight: bold;
  margin-bottom: 2px;
}

.Job_title {
  font-family: "Zilla Slab", serif;
  font-weight: bold;
}
